:root {
    --branding-first-color: #FB337B;
    --branding-second-color: #05ACAA;
    --font-color: ;
    --heading-font-family: "Montserrat", sans-serif;
    --default-font-family: "Raleway", sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #18191A;
    font-family: var(--default-font-family);
}


nav .container-fluid {
    background: transparent;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    text-align: right;
    font-family: var(--default-font-family);
}

.navbar-brand {
    color: #545353;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10%;
    padding: 0px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.navbar-brand:hover {
    color: var(--branding-second-color);
    font-weight: 600;

}

.hero {
    display: flex;
    justify-content: flex-end;
    background-color: #545353;
    overflow: hidden;
}

.introPic {
    width: 50%;

}

.introPic img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 70px;
}

#fullName {
    display: flex;
    justify-content: space-evenly;
    font-family: "Libre Caslon Display", serif;
    margin-top: 200px;
    margin-bottom: 20px;
    width: 50%;
}

#name {
    border-right: 1px solid var(--branding-second-color);
    color: #FFFF;
    padding: 20px 40px;
    height: 75%;
}

#lastName {
    margin-top: 140px;
    color: var(--branding-second-color);
    margin-right: 10%;

}



section {
    display: block;
    margin: 0 auto;
    padding: 20px;

}

.mainServices {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.image-container {
    position: relative;
    display: block;

}

.image-container img {
    width: 100%;
    height: auto;
    filter: contrast(82%) invert(19%);
}

h2 {
    font-family: var(--heading-font-family);
    font-size: 90px;
    font-weight: 500;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--branding-second-color);
    padding: 10px 20px;
    text-align: center;


}

.linkServiceContainer {
    text-align: center;
    padding: 70px;

}

#linkServiceContainer1 {
    border-right: 1px solid var(--branding-second-color);
}

.serviceLink {
    text-decoration: none;
    color: var(--branding-first-color);
    border: 1px solid var(--branding-first-color);
    padding: 10px 15px;
    transition: all 300ms ease-in-out;
}

.serviceLink:hover {
    color: #FFFF;
    background-color: var(--branding-first-color);
}


.collagenBox {
    padding: 15px 0px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--branding-second-color);
    border-top: 1px solid var(--branding-second-color);
    border-width: 100%;

}

.collagenBox p {
    text-align: left;
    color: #FFFF;

}

#colageno {
    color: var(--branding-first-color);
    font-size: 40px;
    font-weight: 500;
}

#collagenLinkBox {
    margin-top: 65px;
}

#collagenLink {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    color: #FFFF;
    background-color: var(--branding-second-color);
    transition: all 300ms ease-in-out;
}

#collagenLink:hover {
    border: 1px solid var(--branding-second-color);
    background-color: transparent;
    color: var(--branding-second-color);
}

.plan {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--branding-second-color);
    text-align: left;
    color: #FFFF;
    padding-top: 45px;
}

h3 {
    color: var(--branding-first-color);
    font-family: var(--heading-font-family);
    font-size: 35px;
    font-weight: 400;
}

.planDescription {
    padding: 35px 50px;
}

.trainingContact {
    text-decoration: none;
    color: #FFFF;
    border: 1px solid var(--branding-first-color);
    background-color: var(--branding-first-color);
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    margin-top: 20px;
    transition: all 500ms ease-in-out;
}

.trainingContact:hover {
    border: 1px solid var(--branding-first-color);
    background-color: transparent;
    color: var(--branding-first-color);
}

.contactInfo {
    text-align: center;
    padding: 110px;

}

.contactSources {
    display: flex;
    justify-content: space-evenly;
    transition: all 300ms ease-in-out;

}

.contactSources:hover,
.iconText:hover,
.contactIcon:hover {
    transform: scale(1.41, 1.41);
    color: var(--branding-second-color);
    cursor: pointer;
}

.contactIcon {
    text-decoration: none;
    color: #FFFF;
    font-size: 35px;
    transition: all 300ms ease-in-out;
}

.iconText {
    font-size: 20px;
    transition: all 300ms ease-in-out;

}


footer {
    display: block;
    padding: 65px 400px;

}

.icons {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--branding-second-color);
}

.iconLink {
    text-decoration: none;
    color: var(--branding-first-color);
    border-radius: 50%;
    padding: 5px 10px;
    transition: all 200ms ease-in-out;
    font-size: 18px;
}

.iconLink:hover {
    color: #FFFF;
    background-color: var(--branding-first-color);
}


footer img {
    padding-top: 30px;
    text-align: center;
    width: 25%;
    height: 25%;
    margin-left: 37%;
}

footer .contactFooter {
    display: block;
    display: flex;
    justify-content: space-evenly;
    font-size: 1000px;
}

footer #trianglePink {
    color: var(--branding-first-color);
}

footer #triangleGreen {
    color: var(--branding-second-color);
}